@import "../../common/colors.scss";

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: crimson;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.user-image,
.user-image img {
  width: 70px;
  height: 70px;
}

.search-bar {
  width: 50%;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    justify-content: center;
    width: 70%;

    button {
      color: crimson;
      padding: 0px 8px;
      font-size: 20px;
      cursor: pointer;
      height: 38px;
      background-color: $secondary-color;
      border: none;
      transition: background-color 0.3s ease;

      &:hover {
        transform: scale(1.3);
      }
    }
  }

  input {
    font-size: 18px;
    width: 100%;
    padding: 5px 5px 5px 45px; /* Space for icon */
    height: 38px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:focus {
      border-color: $secondary-color;
    }
  }

  .clear-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 10px; /* Adjust the position */
    top: 50%;
    transform: translateY(-50%);
    color: #999;
  }
}
